
/*______________________NAVBAR________________________ */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid teal;
  background-color: teal;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: turquoise;
}

li a.active {
  color:turquoise;
  background-color: #4CAF50;
}

/*____________________SLIDESHOW__________________*/
.mySlides { 
  width: 100%; 
  height: 50px; 
  border: lightgreen; 
  border-style: solid; 
  border-width: thick; 
}
/*_____________________HOMEPAGE_CONTENT____________________*/
h2 {
  float: none;
  text-align: center;
  color: teal;
  font-style: initial;
}

p {
  text-align: center;
}

ul {
  text-align: left;
  border-style: solid;
  border-color: teal;
  background-color: teal;
}

/*____________________


