
/*______________________NAVBAR________________________ */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid teal;
  background-color: teal;
}

.NBN {
  float: left;
}

.NBN a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.NBN a:hover:not(.active) {
  background-color: turquoise;
}

.NBN a.active {
  color:turquoise;
  background-color: #4CAF50;
}

/*____________________HomePage_SLIDESHOW__________________*/
.mySlides { 
  width: 100%; 
  height: 50px; 
  border: teal; 
  border-style: solid; 
  border-width: thick; 
}
/*_____________________HOMEPAGE_CONTENT____________________*/
.HPH {
  float: none;
  text-align: left;
  color: teal;
  font-style: initial;
}

.HPWP {
  text-align: left;
  text-align-last: left;
}

.OHrs {
  text-align: left;
  border-style: solid;
  border-color: steelblue;
  background-color: steelblue;
}

/*____________________Home_Page_Imgs_____________________*/

.HPI {
  border-style: ridge;
  border-color: teal;
  background-color: teal;
}

.MSS {
  width: 45%;
  height: 25px;
  border-style: solid;
  border-color: black;
}


/*____________________About_Us_Content________________________*/

.AUtitle {
  float:none;
  text-align: right;
  text-decoration: teal;
}

.AUP {
  text-align: right;

}

.AUtitle2 {
  float:none;
  text-align: left;
  text-decoration: black;
}

.AUP2 {
  text-align: left;
  border-style: solid;
  border-color: darkcyan;
  background-color: darkcyan;
}


/*_________________About_Us_IMG___________________________________*/

  .HPI {
    border-style:ridge;
    border-color:teal;
    background-color:black
  }

  .MSS {
    width: 45%;
    height: 25%;
    border-style: solid;
    border-color: black;
  }

/*________________Contact Us Content______________________________*/ 

ul Hours Open{
  text-align: left;
  border-style: solid;
  border-color: teal;
  background-color:teal;
}

ul How to contact us{
  text-align: left;
  border-style: solid;
  border-color:teal;
  background-color:teal;
}

/*_____________________________Contact_US_IMG________________________*/










/*____________________________MENU_CONTENT_________________________________*/











/*_____________________________MENU_img_____________________________________*/