header{
    background-image: url(ss2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
/*______________________NAVBAR________________________ */
.navbar {
    width: 100%;
    background-color: teal;
    overflow: auto;
  }
  
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: white;
    font-size: 18px;
  }
  
  .navbar a:hover {
    background-color: rgb(18, 145, 138);
  }
  
  .active {
    background-color: #4CAF50;
  }


/*_____________________HOMEPAGE_CONTENT____________________*/
